<!DOCTYPE html>
<html>
<head>
  <title>MatilhaTableMatch</title>
  <%= stylesheet_link_tag    "matilha_table_match/application", media: "all" %>
  <%= javascript_include_tag "matilha_table_match/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
